form {
    max-width: 200px;
    margin: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    border: 2px solid #e0e0e0 !important;
    border-radius: 100px !important;
    -moz-appearance: textfield;
    padding-left: 15px !important;
    box-shadow: none! important;
}

input:focus {
    border-bottom: 2px solid #e0e0e0 !important;
    box-shadow: none! important;
}